* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {  
  font-size: 62.5%;
  
  --ff-body: 'Open Sans', sans-serif;
  --ff-nav: 'Mulish', sans-serif;
  
  --fs-p: 1.4rem;
  --fs-nav: 1.8rem;
  --fs-h1: 5rem;
  
  --color-h1-a: hsl(259, 42%, 14%);
  --color-h1span: hsl(186, 40%, 67%);  
  --color-p: hsl(257, 6%, 50%);
  --color-btn: hsl(0, 0%, 100%);
  
  --bcg-btn: hsl(159, 36%, 57%);
  --bcg-btn-hover: hsl(159, 36%, 48%);
}

body {
  min-height: 100vh;
  padding: .5rem;   
}

body, button {   
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
  font-size: 1.6rem;
  font-family: var(--ff-body);
}

nav, h1, ul {  
  font-family: var(--ff-nav); 
}

nav, ul, main, button {
  display: flex;
}

nav, main, button {
  align-items: center;
}

nav, main {  
  justify-content: space-between;
}

section p, footer {
  font-size: var(--fs-p);
  line-height: 2.8rem;
}

h1, p {  
  width: 42.5rem;
}

ul li a:hover, h1 span, footer a {
  font-weight: bold;  
}

.page {
  width: 100rem;
  margin: 0 auto;
  padding-top: 6.5rem;
}

nav {
  font-size: var(--fs-nav);
  margin-bottom: 5.5rem;  
}

ul {  
  gap: 5rem;  
}

a {
  color: var(--color-h1-a);
}

ul li a {
  opacity: 0.5;
}

/* pseudo class = a:hover */
ul li a:hover {  
  opacity: 1;
}

h1 { 
  font-size: var(--fs-h1);
  font-weight: normal;
  line-height: 5.5rem;
  color: var(--color-h1-a);
}

h1 span {
  color: var(--color-h1span);  
}

section p {  
  color: var(--color-p);
  margin: 4rem 0;  
}

button {    
  justify-content: center;
  gap: 1rem;

  text-transform: uppercase;

  color: var(--color-btn);
  background: var(--bcg-btn);

  border: 0;
  border-radius: .4rem;
  padding: 1.4rem 3.2rem 1.5rem;

  cursor: pointer;
}

button:hover {
  background: var(--bcg-btn-hover);
}

footer {  
  text-align: center;
  margin-top: 8rem;
}

#balls {
 position: fixed;
 bottom: 0;
 right: 0;
}